.main_container
{
  color: black;
}

.main_container h2
{
  color: black;
}

.main_container h3
{
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.img_mark
{
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.img_mark_star
{
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.link_gift_certificate
{
  color: rgb(154, 56, 229);
  cursor: pointer;
}
