.header
{
  color: black;
  font-weight: bold;
}
.main_container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular_products_container
{
  width: 100%;
}
.container_products
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
  margin-top: 1rem;
}