.profile_container
{
  margin: auto;
  /* padding: 1.25rem; */
  background: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2
{
  text-align: center;
}

.form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.form_container
{
  display: flex;
  gap: 1rem;
  padding: 3rem;
}

.input, .select
{
  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
}

.button
{
  width: 30%;
  padding: 0.625rem;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.button:hover
{
  background: #0056b3;
}

.input_container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
}

