.text_center
{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line
{
  height: 70rem;
  width: 40rem;
}

.buttons_container
{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons_container button
{
  background-color: black;
  color: white;
}