.container_column
{
  display: flex;
  flex-direction: column;
  width: 12.5rem;
  height: 21.875rem;
  color: black;
  border: 0.0625rem dotted gray;
  cursor: pointer;
}

.img
{
  height: 15.625rem;
}