.main_container
{
  color: black;
}

.main_container h2
{
  color: black;
}

@media(max-width: 1366px)
{
  .main_container img
  {
    width: 90%;
  }

  .main_container 
  {
    font-size: 10px;
  }
}