.cell_container
{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: black;
  align-self: center !important;
  /* width: 14rem; */
}

.img_product
{
  /* margin-left: 3rem; */
  height: 5rem;
  width: 5rem;
}

.img_container
{
  margin-left: 2rem;
}

.product_description
{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 14rem;
}

.title
{
  font-weight: bold;
}

.container_flex_characteristics
{
  display: flex;
  gap: 1rem;
}

.btn_quantity
{
  cursor: pointer;
  font-size: large;
  width: 2rem;
  height: auto;
  border-radius: 0.25rem;
}

.btn_quantity:hover
{
  background-color: rgb(247, 156, 255);
  
}

.quantity
{
  width: 2rem;
  text-align: center;
}

.price
{
  font-weight: 600;
}

.total_sum
{
  font-weight: bold;
}

.btn_delete
{
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

.img_delete
{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}