.header_container_flex
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  color: black;
  font-size: large;
}

a:link, a:visited
{
  color: black;
  cursor: pointer;
}

a:link:active, a:visited:active
{
  color: black;
}

.header
{
  /* background-color: rgb(0, 255, 162); */
  /* background: rgb(2,0,36); */
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,255,173,1) 0%, rgba(12,222,236,1) 100%, rgba(0,212,255,1) 100%);
  width: 100%;
}

.header_form_search
{
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  
}

.header_form_search_input
{
  background-color: white;
  color: black;
  border-radius: 0.25rem;
  width: 20rem;
  height: 1.5rem;
}

.header_form_search_btn
{
  background-color: grey;
  color: white;
  border-radius: 0.25rem;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
}

.header_img_search
{
  width: 1.5rem;
  height: 1.5rem;
}
.logo
{
  margin-left: 2rem;
}

.logo img
{
  width: 6rem;
  height: 6rem;
}

.cart
{
  margin-right: 2rem;
}

.img_profile
{
  width: 2rem;
  height: 2rem;
  background-color: rgb(64, 210, 239);
  padding: 0.35rem;
  border-radius: 20px;
}

.img_cart
{
  width: 2rem;
  height: 2rem;
  background-color: rgb(64, 210, 239);
  padding: 0.35rem;
  border-radius: 5px;
}