.main_container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px inset rgb(0, 255, 162);
}

.img{
  width: 16rem;
  height: 16rem;
}
.title{
  color: black;
}