.footer
{
  font-size: 16px;
}
.footer_container_register
{
  color: black;
  background-color: rgb(232, 232, 232);
  height: 200px;
  margin-top: 4rem;
}

.footer_register_title
{
  font-weight: bold;
}

.buton_register
{
  background-color: rgb(247, 156, 255);
  color: black;
  padding-block: 0.5rem;
  padding-inline: 3rem;
  border-radius: 10px;
}

.footer_container_flex
{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  color: black;
  margin-top: 5rem;
}

.link a:link, a:visited
{
  color: black;
  cursor: pointer;
}

a:link:active, a:visited:active
{
  color: black;
}

.footer
{
  width: 100%;
  background-color: white;
}

.footer_container_column
{
  display: flex;
  flex-direction: column;
}

.about_us
{
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.logo img
{
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

.footer_year
{
  color: black;
}

.footer_container_register
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-block: 5rem;
}

.footer_container_register:nth-child(n)
{
  height: auto;
}

@media(max-width: 85.375rem)
{
  .footer
  {
    font-size: clamp(10px, 7.248px + 0.64vw, 16px);
  }
}