.footer_container_flex
{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  margin-top: 1rem;
  color: black;
}

.link a:link, a:visited
{
  color: black;
  cursor: pointer;
}

a:link:active, a:visited:active
{
  color: black;
}

.footer
{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,248,53,1) 0%, rgba(12,222,236,1) 100%, rgba(0,212,255,1) 100%);
  width: 100%;
}

.footer_container_column
{
  display: flex;
  flex-direction: column;
}

.footer_year
{
  color: rgb(172, 167, 167);
}

.about_us
{
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}