.register_container {
  width: 30rem;
  margin: 3.125rem auto;
  padding: 1.25rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.register_title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.register_form {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.register_button {
  background-color: rgb(247, 156, 255) !important; /* Рожевий */
  color: black !important;
  padding: 0.625rem 1.25rem !important;
  border-radius: 1.5625rem !important; /* Закруглені краї */
  font-size: 1rem !important;
  text-transform: none !important;
  margin-top: 1.25rem !important;
  border: none !important; /* Без рамки */
  box-shadow: none !important; /* Без тіней */
}

.register_button:hover {
  background-color: #e754d4 !important; /* Трохи темніший рожевий */
}

.error_message
{
  color: red;
}


@media(max-width: 1366px)
{
  .register_container 
  {
    width: 50%;
  }
  .register_title
  {
    font-size: 20px !important;
  }
  .register_form input
  {
    font-size: 14px !important;  
  }
  .register_form label
  {
    font-size: 14px !important;  
  }
  .register_button
  {
    font-size: 16px !important;
    padding: 10px 20px !important;
  }
}