.header
{
  color: black;
  font-weight: bold;
}

.main_container
{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 3rem;
  align-items: start;
  gap: 2rem;
}

.grid_products
{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  gap: 1rem;
  row-gap: 3rem;
  width: 100%;
  margin-top: 1rem;
}

.filters_container
{
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.navigation_container
{
  display: flex;
  gap: 0.5rem;
}

.products_order_container
{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: black;
  width: 100%;
}

.header
{
  display: flex;
  padding-block: 0.25rem;
  justify-content: space-between;
  width: 100%;
}

.count_found_products
{
  font-weight: 400;
}

.sort_price
{
  align-items: right;
}

.button_add_new_product
{
  width: 12rem;
  background-color: rgb(247,156,255);
  border: 3px solid red;
  border-radius: 0.5rem;
  font-weight: 400;
  cursor: pointer;
}

@media(max-width: 1366px)
{
  .grid_products
  {
    grid-template-columns:  1fr 1fr;
  }

  .count_found_products, .header
  {
    font-size: 10px;
  }

  .category_title
  {
    font-size: 14px;
  }
  
  .sort_price select
  {
    font-size: 10px;
    margin-right: 16px;
  }  
}