.orders_container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 77%;
  margin-left: 17rem;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.orders_table {
  width: 100%;
  border-collapse: collapse;
}

.orders_table th,
.orders_table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.orders_table th {
  background-color: #f8f8f8;
}

.order_row {
  /* font-weight: bold; */
  cursor: pointer;
}

.details_button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}
.details_button_td:hover button
{
  color: rgb(247,156,255);
}

.details_button_td:hover
{
  cursor: pointer;
}
/* .details_button:hover {
  color: rgb(247,156,255);
} */

.details_button:focus {
  outline: none;
}

.order_details {
  background-color: #f9f9f9;
}

.products_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.products_table th,
.products_table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.status_order
{
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  width: 50%;
  text-align: center;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 14px;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: lightgreen;
}

.violet{
  background-color: violet;
}

@media(max-width: 1366px)
{
  
}