.orders_container
{
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.h2
{
  text-align: center;
  margin-bottom: 20px;
}

.orders-table
{
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td
{
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.orders-table th
{
  background-color: #f8f8f8;
}

.error
{
  color: red;
  text-align: center;
}

.img_backet
{
  width: 1rem;
  height: 1rem;
}